body {
    background-image: url(./img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
}

.header {
    justify-content: flex-end;
    color: white;
    font-size: 12px;


}

.h1 {
    background-color: hsla(222, 25%, 18%, 0.578);
    padding: 2px;
}

.h1 #d1 {
    /* margin: 0px 5px; */
    padding: 0px 5px 0px 5px;

}

.h1 #d2 {
    /* margin-left: 5px; */
    padding-left: 5px;

}

.nav-bar {
    padding: 3px;
    margin-top: 30px;
    background-color: hsla(0, 0%, 0%, 0.578);

}

.nav {

    padding: 14px;
    justify-content: flex-end;
    align-items: center;
    color: rgb(117, 174, 227);
    border: 1px solid rgb(120, 120, 120);
    position: relative;

}

.logo img {
    height: 110px;
}

.logo {
    position: absolute;
    left: 0px;
    top: -30px;
}

.nav div {
    margin: 0px 8px;
}

.nav a {
    padding: 5px;
    text-decoration: none;
    color: rgb(117, 174, 227);
}

.nav a:hover {
    background-color: rgb(117, 174, 227);
    color: white;
    border-radius: 5px;
}


.smtext {
    padding: 50px 30px;
    background-color: hsla(0, 0%, 9%, 0.167);
}

.smtext h1 {
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: hsl(0, 0%, 100%);
    text-shadow: 1px 1px;
}

.features {
    padding: 5px;
    background-color: hsla(0, 0%, 0%, 0.578);
}

.f1 {
    border: 1px solid rgb(120, 120, 120);
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

.feature {
    color: white;
    padding: 20px;
}

.feature img {
    width: 100%;
}

.feature a {
    color: rgb(117, 174, 227);
    font-size: 12px;
}

.footer {
    background-color: hsla(0, 0%, 20%, 0.578);
    color: white;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.footer p {
    padding: 5px;
    margin: 0px;
    font-size: 10px;
}

.footer span {
    text-decoration: underline;
}